nav {
  background-color: #0B0B0B;
  padding: 25px 50px;
  display: flex;
  align-items: center;
}

.navText {
  color: white;
  text-decoration: none;
  padding-left: 25px;
  background-color: #0B0B0B;
}
*{
  margin: 0;
  padding: 0;
  font-family: 'Hind', sans-serif;
  color: #f5f5f5;
}
html {
  background-color: #0B0B0B;
}
h1, h2{
  font-family: 'Ubuntu', sans-serif; 
    line-height: 0.8;
}
h1 {
  font-size: 3.5vw;
  font-weight: 700;
  text-transform: uppercase;
}
h2 {
  font-size: 2.5vw;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: #2B4867;
}
button {
  background-color: #21272B;
  border: none;
  padding: 15px 75px;
  margin: 5px 10px 5px 0px;
  text-decoration: none;
  text-transform: uppercase;
  color: #2B4867;
  font-size: 3vw;
  width: 100%;
}
Main {
  margin: 0 auto;
}
img {
  background-color: #0B0B0B;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.title {
  position: relative;
    padding-bottom: 25px;
    margin-bottom: 26px;
    border-bottom: 1px dashed #7d7d7d;
    width: 100vw;
}
.details {
  font-size: 15vw;
  margin: 50px 0 0 50px;
}
.Home {
  align-content: center;
  width: 100%;
  margin: 0 auto;
}
.detailsContent {
  width: 90%;
  margin: 0 auto;
}
.smallheader {
  font-size: 18px;
  font-weight: 100;
  margin-left: -10px;
}
 p {
   font-size: 2vw;
 }
 .flexGallery{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
 }
 .flexGalleryitem{
   width: 25vw;
  padding: 25px;
  margin: 3%;
  border: 1px dashed #7d7d7d;
  text-align: center;
 }